:root {
    --color-primary: #1933d8;
    --black: #1c1c1c;
    --white: #ffffff;
    --grey: #717171;
    --lightgrey: #c6c6c6;
    --hover: #112290;

    --shadow: 0px 3px 6px rgba(28, 28, 28, 0.1);

    --font-size-h1: 3.75rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.5rem;
    --font-size-h4: 1.74rem;
    --font-size-paragraph: 1.25rem;
    --font-size-small-text: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
body {
    font-family: Inter, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--black);
}
a {
    text-decoration: none;
}
h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
}
h4 {
    font-size: var(--font-size-h4);
    font-weight: 500;
}
p {
    font-size: var(--font-size-paragraph);
    letter-spacing: 0.3px;
    line-height: 32px;
}
.small__text {
    font-size: var(--font-size-small-text);
    color: var(--grey);
}
button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar */
#header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    box-shadow: var(--shadow);
}
#navbar .container {
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 999;
}
#navbar #logo {
    color: var(--black);
    transition: all 0.3s ease-out;
}
#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
#navbar ul li {
    list-style-type: none;
}
#navbar ul li .nav-link {
    font-size: var(--font-size-paragraph);
    text-transform: uppercase;
    color: var(--grey);
    transition: all 0.3s ease-in-out;
}
#navbar ul li .nav-link:hover {
    color: var(--hover);
}
.navbar__menu {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.navbar__menu .line {
    width: 100%;
    height: 4px;
    display: none;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.navbar__menu.open .line {
    transition: all 0.3s ease-in-out;
}
.navbar__menu.open .line1 {
    transform: rotate(50deg);
    transform-origin: top left;
}
.navbar__menu.open .line2 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.navbar__menu.open .line3 {
    transform: rotate(-50deg);
    transform-origin: bottom left;
}

/* hero section */
#home .container {
    width: 100%;
    height: 800px;
    padding: 85px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
}
#home .container span {
    color: var(--color-primary);
}
#home .container p {
    width: 636px;
}
#home .container .CTA {
    background-color: var(--color-primary);
    color: var(--white);
    transition: 0.3s ease-in-out;
}
#home .container .CTA:hover {
    background-color: var(--hover);
}
#home .container .CTA,
.btn__send {
    padding: 15px 40px;
}

/* CSS untuk layar mobile dengan lebar 430px atau lebih kecil */
@media only screen and (max-width: 430px) {
    :root {
        --font-size-h1: 2.5rem;
        --font-size-h2: 2rem;
        --font-size-h3: 1.75rem;
        --font-size-h4: 1.5rem;
        --font-size-paragraph: 1rem;
        --font-size-small-text: 0.875rem;
    }
    h1 {
        font-size: var(--font-size-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    h3 {
        font-size: var(--font-size-h3);
        text-align: center;
    }

    h4 {
        font-size: var(--font-size-h4);
    }

    p {
        font-size: var(--font-size-paragraph);
        line-height: 24px;
    }

    .small__text {
        font-size: var(--font-size-small-text);
        text-align: justify;
    }
    button {
        font-size: 14px;
    }
    .container {
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .text__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: justify;
        margin: 0;
    }
    /* navbar */
    #navbar {
        flex-direction: row;
        max-width: 430px;
        padding: 20px;
    }
    #navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: var(--white);
        padding: 10px 20px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        box-shadow: var(--shadow);
    }
    #navbar ul.show {
        display: flex;
    }
    .navbar__menu .line {
        display: block;
    }
    .hidden {
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    /* hero section */
    #home {
        width: 100%;
        height: 932px;
        top: 200px;
        padding-top: 85px;
        background-color: var(--white);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* about */
    #about {
        width: 100%;
        height: auto;
        padding: 85px 0;
    }
    #about .container {
        gap: 110px;
    }
    #about .image__wrapper img {
        width: 290px;
        height: 290px;
        object-fit: cover;
        border-radius: 10px;
    }

    /* skills */
    #skills {
        width: 100%;
        background-color: var(--color-primary);
        padding: 85px 0;
    }
    #skills .text__wrapper {
        color: var(--white);
    }
    .content__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    .skills__card .card {
        width: 140px;
        height: 53px;
        background-color: var(--white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding: 5px;
    }
    .skills__card .card p {
        font-weight: 600;
    }
    .skills__card .card img {
        width: 37px;
        height: 43px;
        object-fit: contain;
        border-radius: 7px;
    }

    /* project */
    #projects {
        width: 100%;
        padding: 85px 0;
    }
    .portfolio__wrapper .project {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .portfolio__wrapper .project .project-tile {
        width: 290px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-bottom: 1px solid var(--lightgrey);
        padding: 24px 0;
        margin: 0;
    }
    .portfolio__wrapper .project .project-tile:first-child {
        border-top: 1px solid var(--lightgrey);
    }
    .portfolio__wrapper .project .project-tile a {
        text-decoration: underline;
        color: var(--color-primary);
        transition: 0.3s ease-in-out;
    }
    .portfolio__wrapper .project .project-tile a:hover {
        color: var(--hover);
        font-weight: bold;
    }
    /* blog */
    #blog {
        width: 100%;
        padding: 85px 0;
    }

    /* contact */
    #contact {
        width: 100%;
        padding: 85px 0;
    }
    .contact__wrapper {
        background-color: var(--color-primary);
        color: var(--white);
        border-radius: 10px;
        width: 100%;
        padding: 7px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .contact__wrapper ul li {
        list-style-type: none;
    }
    .contact__info,
    .form__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .contact__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
    }
    .contact__list i {
        font-size: 24px;
    }
    .form__wrapper input {
        width: 290px;
        height: 45px;
        padding: 7px;
        border-radius: 10px;
        border: 1px solid var(--lightgrey);
    }
    .form__wrapper textarea {
        resize: none;
        padding: 7px;
        border-radius: 10px;
        border: 1px solid var(--lightgrey);
    }
    .btn__send {
        background-color: var(--white);
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s ease-in-out;
    }
    .btn__send:hover {
        background-color: var(--color-primary);
        color: var(--white);
    }

    /* footer */
    #footer {
        width: 100%;
        padding: 85px 0;
        background-color: var(--color-primary);
    }
    #footer :is(a > h4, li > .footer-link, .footer__socials > a > i) {
        color: var(--white);
    }
    #footer #footerLinks {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    #footer li {
        text-align: center;
        list-style-type: none;
    }
    #footer li > .footer-link {
        text-transform: uppercase;
    }
    .footer__socials {
        display: flex;
        gap: 32px;
    }
    .footer__socials > a > i {
        font-size: 24px;
    }
    #footer :is(a > h4, li > .footer-link, .footer__socials > a > i):hover {
        color: var(--lightgrey);
    }
}
